body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  font-size: 1.6rem;
}

/* Navbar.js */

.Navbar {
  height: 60px;
  background-color: rgb(105, 105, 105);
  z-index: 3;
  position: fixed;
}

.Navbar-labels {
  font-size: 1.6rem;
  color: white;
  padding: 10px 10px 10px 10px;
  z-index: 3;
}
.zin {
  z-index: 2;
}
.container {
  padding: 1px 1px 1px 1px;
  color: white;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
.NavbarIcons {
  padding: 10px 10px 10px 10px;
  font-size: 1.6rem;
}

/* //////////////// */

/* ///////////Paricles//////////////// */

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}
